@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    background: #ffff;
    color: #4f4e4e;
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    overflow-x: hidden;
  }
}
